
.userLogin{
    padding-left: 10px;
    float: left;
    margin-left: 130px;
&:hover{
    transition: 1s;
    transform: scale(1.2);
    
        }
    }


.companylogin{
    padding-left: 35px;
    float: right;
    &:hover{
        transition: 1s;
        transform: scale(1.2);
    }
}
.maindiv{
width: 80%;
    a{
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
       
        height: 75px;
        width: 240px;
        font-size: 1.2em;
        border: 2px solid #608931;
        margin-top: 146px;
        text-decoration: none;
        color: #56945e;
        padding-top: 23px;
        position: relative;

    }
}