.mail{
    padding-right: 20px;
}
.applicant-info{
    border: 1px solid #85144b;
    box-shadow: 5px 5px #888888;
    margin-left: 20px;
    text-align: center;
    top: 50px;
    left: 35px;
}

.mailbox{
    display: block;
}
